@import "../scss/fonts";

.stats {
  display: flex;
  flex-direction: row;
  .section {
    flex: 1;
    margin: 24px;
  }
  .heading {
    font-family: $rubik;
    font-size: 36px;
    font-weight: 300;
    color: #686868;
    margin-bottom: 20px;
  }
  .description {
    font-family: $rubik;
    font-size: 13px;
    font-weight: 300;
    color: #686868;
    text-align: center;
  }
}
